* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

header, .container {
    height: 50px;
    background-color: rgb(154, 68, 83);
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
footer>p {
    background-color: rgb(20, 78, 114);
    height: 100%;
}


li, a{
    list-style-type: none;
    text-decoration: none;
}


